.applyRedText{
    color: red;
}

.applyBlueText{
    color: blue;
}

.greenBGWhiteText{
    background-color: green;
    color: white;
}

.orangeBGPinkText{
    background-color: orange;
    color: pink;
}